/* ::-webkit-scrollbar-thumb{
    cursor: pointer;
    border-radius: 8px;
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #9f9ea0;
}
::-webkit-scrollbar-thumb:hover {
    background: #cccaca;
}
@media (min-width:600px) {
    body::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }    
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }    
} */